.VotesBlock
{
  border: double gray 3px;
  width: 180px;
  padding: 3px 7px;
  background-color: #F0F0F0;
}

.VotesBlock .Question
{
  font-weight: bold;
}

.VotesBlock .Answers
{
  padding-top: 5px;
}

.VotesBlock .Answers .Answer
{
  padding: 2px 0;
}

.VotesBlock .Answers .Answer .Count
{
  float: right;
  width: 30px;
  font-weight: bold;
  text-align: right;
}

.VotesBlock .Answers .Answer .Text
{
  margin-right: 30px;
}
