div.VotesBlockAnswer
{
  padding: 2px 0;
}

div.VotesBlockAnswer .Count
{
  float: right;
  width: 30px;
  font-weight: bold;
  text-align: right;
}

div.VotesBlockAnswer .Text
{
  margin-right: 30px;
}

label.VotesBlockAnswer input
{
  margin: 0 5px 0 0;
}

label.VotesBlockAnswer span
{
  vertical-align: 3px;
}

label.VotesBlockAnswer .FreeAnswer
{
  width: 150px;
  margin-left: 18px;
  vertical-align: 3px;
}
