.MobileCompany
{
  border: double gray 3px;
  width: 280px;
  padding: 3px 7px;
  background-color: lightyellow;
}

.MobileCompanyName
{
  font-weight: bold;
}

.MobileCompanyClients
{
  padding-top: 5px;
}
